/* src/index.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI",
    sans-serif;
  background: #eff1ed;
  color: #373d20;
}

::placeholder {
  color: #9aa093;
}

button {
  font-family: inherit;
}
